<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SSF</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
     <!-- As a heading -->
    <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <span class="navbar-brand mb-0 h1">USF Gerardo Rodrigues</span>
        </div>
    </nav>

    <a href="{% url 'home' %}"><i class="bi-arrow-left-circle" style="font-size: 2.5rem; color: cornflowerblue; margin-top: auto;"></i></a>

    <div class="container-fluid">
        <br>
        <h4 style="text-align: center;"><p class="fw-bold">Pacientes</p></h4>
        <div class="row">
            <table class="table">
                <thead class="table-light">
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Pressão</th>
                    <th scope="col">Peso</th>
                    <th scope="col" colspan="0,5">Temperatura</th>
                    <th class="text-center" colspan="2" scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  {% for x in pacientes %}
                    <tr>
                      <th scope="row">{{x.id_pessoa}}</th>
                      <td>{{x.nome}}</td>
                      <td>{{x.pressao}}</td>
                      <td>{{x.temp}}</td>
                      <td>{{x.peso}}</td>
                      <td class="text-center"><a href="{% url 'alterar_pacientes' x.id_pessoa%}"><button class="btn btn-warning">Alterar</button></a></td>
                      <td class="text-center"><a href="{% url 'apagar' x.id_pessoa%}"><button class="btn btn-danger">Delete</button></a></td>
                    </tr>
                  {%endfor%}
                </tbody>
              </table>
        </div>
    </div>
    
</body>
</html>